<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thisisnotajoke.hueyo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.HueyoApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <service android:name=".controller.HueyoService">

        </service>
        <activity android:name=".controller.StatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />z
            </intent-filter>
        </activity>

        <activity android:name=".controller.PHPushlinkActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>

    </application>
</manifest>
