<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thisisnotajoke.hueyo">

    <application
        android:name=".base.HueyoApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light"
        >
        <service android:name=".HueyoService">

        </service>
        <activity android:name=".StatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".hue.PHPushlinkActivity"
            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
